body {
    background-color: black;
    color: white;
    padding: 20px;
}

/* LOGO  */

.bird {
    width: 60px;
}

/* HAPPENING NOW H1  */

.big {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* JOIN TWITTER  */

.medium {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 7%;
    
}

/* GOOGLE SIGN UP BUTTON  */

.google{
    background-color: white;
    border-radius: 50px;
    max-width: 50%;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}
.goog{
    width: 15px;
    height: 15px;
    padding: 5px;
    margin-top: 10px;
}

p{
    letter-spacing: 0.25px;
    white-space: nowrap;
    font-size: 14px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.google:hover {
    background-color: lightgrey;
    cursor: pointer;
    transition: 0.5ms ease-in;
}

/* APPLE SIGN UP BUTTON  */

.apple{
    background-color: white;
    border-radius: 50px;
    max-width: 50%;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 12PX;
}
.appl{
    width: 15px;
    height: 15px;
    padding: 5px;
    margin-top: 10px;
}

.apple p {
    font-weight: 600;
}

.apple:hover {
    background-color: lightgrey;
    cursor: pointer;
    transition: 0.5ms ease-in;
}

.break
{
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin-right: 50%;
    
}

/* SIGN UP WITH PHONE OR EMAIL  */

.phone{
    background-color: rgb(50, 169, 244);
    border-radius: 50px;
    max-width: 50%;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 12PX;
}

.phone p {
    font-weight:600;
    color: white;
}

.phone:hover {
    background-color: rgb(43, 152, 220);
    cursor: pointer;
    transition: 0.5ms ease-in;
}